.account {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	grid-area: account;
	align-items: center;
	&__heading {
		@include visually-hidden();
	}

	&__username {
		padding: 1em;
	}

	&__logout {
		padding: 1em;
	}

	&__button {
		@include button-link();
	}
}