body {
	font-family: "Roboto", sans-serif;
	background-image: url('/assets/images/grey_cup.png');
	background-repeat: repeat;
	background-position: 0 0;
	background-size: auto;
}

a, a:visited {
	color: $link-color;
}

a:hover {
	color: $link-hover-color;
}