.login {
	grid-area: login;

	&__button {
		@include button($button-color);

		margin-bottom: 1em;

		&--link {
			@include button-is-link();
		}

		&--gray {
			@include button($button-color-disabled);
		}

		&--all-caps {
			text-transform: uppercase;
		}
	}

	&__or-separator {
		display: inline-block;
		margin: 0 2em;
		text-transform: uppercase;
	}
}