@mixin visually-hidden() {
	// Taken from Bootstrap
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

@mixin button($button-bg: $button-color) {
	color: #fff;
	background-color: $button-bg;
	border: none;
	padding: .75em;
	cursor: pointer;
	border: solid 1px darken($button-bg, 20%);
	border-radius: 2px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);

	&:disabled {
		background-color: $button-color-disabled;
		border: none;
		border-radius: 2px;
		cursor: default;
	}
}

@mixin button-is-link() {
	text-decoration: none;
	&:hover, &:active, &:visited {
		text-decoration: none;
		color: #fff;
	}
}

// This is used to make a button look like a link
@mixin button-link() {
	color: $link-color;
	background-color: transparent;
	border: none;
	//padding: .75em;
	cursor: pointer;
	border: none;
	text-decoration: underline;

	&:hover {
		color: $link-hover-color;
	}
}

@mixin errors() {
	padding: .2em 1em;
	background-color: #fff;
	border-bottom: 2px solid $button-color-end-time;
}