.pagination-links {
	margin: 1em 0;

	&__arrow {
		display: inline-block;
		padding: .5em 1em;
		color: #fff;
		background-color: $link-color;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: none;
			color: #fff;
			background-color: $link-hover-color;
		}

		&:visited {
			color: #fff;
		}
	}

	&__number {
		padding: 0 1em;
	}
}