.team-members {
	grid-area: team-members;

	&__heading {
		margin-top: 0;
	}

	&__form-heading {
		@include visually-hidden();
	}

	&__form-label {
		display: block;
		margin-bottom: 1em;
	}

	&__form-text-input {
		display: block;
		margin-bottom: 2em;
	}

	&__form-button {
		@include button();
	}
}