.team-members {
	grid-area: team-members;

	&__heading {
		margin-top: 0;
	}

	&__remove-link {
		display: inline-block;
		padding: 0 2em;
	}

	&__form-heading {
		@include visually-hidden();
	}

	&__form-label {
		display: block;
		margin-bottom: 1em;
	}

	&__form-text-input {
		display: block;
		margin-bottom: 2em;
		position: relative;
		width: 100%;
		display: block;
		padding: 1em;
	}

	&__form-button {
		@include button();
	}
}